/* NAVBAR */

nav {
  border-bottom: 0.1rem solid var(--light);
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

#navbarNav {
  display: flex;
  justify-content: flex-start;
}
.img-container img {
  width: 3rem;
  border-radius: 50%;
  border: 0.1rem solid var(--light);
}

.nav-link {
  color: var(--light);
}

.pages-container {
  display: flex;
  justify-content: space-around;
}
