.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--rgba-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: var(--dark);
  color: var(--light);
  padding: 20px 30px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 5px 15px var(--shadow-dark);
}

.modal-actions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.qr-code-display {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.qr-code-display img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: auto;
}

.form-groups {
  margin-bottom: 1rem;
  padding: 1rem 0rem;
}

.modal-content p{
  color: var(--medium-red);
  font-weight: bold;
}

.backup-codes {
  margin-top: 15px;
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 5px;
  max-height: 300px;
  overflow-y: auto;
}

.backup-codes p {
  margin: 5px 0;
  font-family: monospace;
  font-size: 14px;
}

/* Secret key box */
.secret-box {
  margin-top: 15px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.secret-box p {
  margin: 5px 0;
  font-size: 12px;
  color: #666;
}

.secret-box p.secret {
  font-family: monospace;
  font-size: 14px;
  word-break: break-all;
}

.link {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}