@media screen and (max-width: 1013px) {
  .navbar-toggler {
    display: block;
  }

  .links-container {
    display: none;
  }
}

@media screen and (min-width: 1014px) {
  .offcanvas,
  .overlay {
    display: none !important;
  }
}
